@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.Custom-SignUp {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  background: linear-gradient(90deg, #0c5397 1.67%, #248de3 56.46%);
}
.Bronchure-gr-bg {
  background: linear-gradient(90deg, #0c5397 1.67%, #248de3 56.46%);
}
.imageFilter {
  filter: brightness(0%) contrast(0%) saturate(100%) blur(0px) hue-rotate(0deg);
}
.imageFilter:hover {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}

/* swipper style */
.swiper-pagination {
  display: none !important;
}
.boxShadow {
  box-shadow: -1px 0px 15px -4px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -1px 1px 15px -4px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -1px 1px 15px -4px rgba(0, 0, 0, 0.76);
}
.swiper-button-prev {
  left: 0px !important;
  position: absolute !important;
  background-color: #3d6e61 !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}
.swiper-button-prev::after {
  left: 0 !important;
  font-size: 13px !important;
  color: white !important;
}
.swiper-button-next::after {
  font-size: 13px !important;
  font-weight: bolder !important;
  color: white !important;
}
.swiper-button-next {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  right: 0 !important;
  background-color: #3d6e61 !important;

  border-radius: 50% !important;
}
.stars span {
  margin-right: 15px !important;
}

/* drawer style */
.mainItem svg {
  color: #575c5c;
}
.subItem svg {
  color: #575c5c;
}
/* add feedback section css */
.MuiOutlinedInput-notchedOutline {
  border: none;
}
.addImageBoxShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* login screen box shadow */
.loginBoxShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* dean section css */
.deanIntro {
  background-image: url("/Dean/deanSectionbg.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 1px 1px;
  margin: 0 0 1.5em;
  width: 100%;
}
td {
  border-color: #dddddd;
  border-width: 1px 1px 0 0px;
}
th {
  border-color: #dddddd;
  border-width: 0px 1px 0 0px;
}
@media screen and (max-width: 768px) {
  .mainItem svg {
    color: white !important;
  }
  .subItem svg {
    color: #575c5c;
  }
}

.drawer {
  width: 50% !important;
}
@media screen and (max-width: 700px) {
  .drawer {
    width: 70% !important;
  }
}
@media screen and (max-width: 500px) {
  .drawer {
    width: 100% !important;
  }
}
.breakWord {
  word-wrap: break-word !important;
}
